body {
    min-height: 95rem;
    padding-top: 9.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

main {
    /* position: absolute;
    z-index: 1;
    float: none;
    top: 100px; */
    display: block;
    margin-top: 200px;
}
.main-body {
    text-align: left;
  /* font-size: 9pt; */
}

.main-body a {
  color: var(--hyperlink);
}

.main-body a:visited {
  color: var(--hyperlink-visited);
}
